[submodule "libcheckpoint"]
	path = libcheckpoint
	url = https://github.com/lin-toto/teapot-libcheckpoint
[submodule "honggfuzz"]
	path = honggfuzz
	url = https://github.com/lin-toto/teapot-honggfuzz
