gtirb>=2.0.0
gtirb-rewriting @ git+https://github.com/lin-toto/gtirb-rewriting.git@0f1c6dab47b40fc3ce093470cbf4fdbec7784fca
gtirb-functions>=1.0.9
gtirb-capstone>=1.1.1
gtirb-live-register-analysis
llvmlite>=0.41.0
pyelftools>=0.31
